.main-nav-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: auto;
    border-bottom: 1px solid #fefefe;
    background-color: #000;
}
.main-nav-title .main-nav-title-info {
    color: #fff;
    font-size: 20px;
    padding-left: 30px;
    width: 170px;
}
.main-nav-title div {
    float: left;
    position: relative;
    text-align: center;
    width: 100px;
    height: 100%;
    overflow: hidden;
}
.main-nav-title div a {
    color: #fff;
    text-decoration: none;
}
.main-nav-title div .title-active {
    color: orange;
}
.main-nav-title div:hover {
    overflow: visible;
}
.main-nav-title a:hover {
    color: orange;
}
.main-nav-title div ul {
    padding: 0;
    margin: 0;
    background-color: #000;
}
.main-nav-title div:hover ul li {
    color: #fff;
    padding-bottom: 5px;
}
.main-nav-title div ul li {
    text-align: center;
    list-style-type: none;
    height: 40px;
    line-height: 40px;
}
.main-nav-title div ul li a {
    display: block;
    width: 100%;
    height: 100%;
}
.main-nav-title div ul li:hover {
    color: orange;
    background-color: rgb(250, 225, 225);
}
